<h1>Affiliations</h1>

<p>Renshin Kendo Dojo is a proud member of Kendo Ontario and the Canadian Kendo Federation.

<div class="myflexbox-container orgbox"
    <p><a href="https://kendoontario.ca" target="_blank"><img class="orglogo" id = "ko" src="/assets/images/kendoontario.png" alt="Kendo Ontario logo"/></a>
    <p><a href="https://kendo-canada.com" target="_blank"><img class="orglogo" id = "ckf" src="/assets/images/ckf.jpg" alt="Canadian Kendo Federation logo"/></a>
</div>

<p>Our sister dojo is <a href="https://whitbykendo.ca" target="_blank">Whitby Kendo Dojo</a>.

<hr/>
