<link href="assets/css/location.css" rel="stylesheet" />
<section class = "page-section" id = "location">
<div class="container">
    <h2 class="section-heading text-uppercase text-center">Schedule & Location</h2>

    <h3>Schedule</h3>
    <table class="schedule" style="margin-bottom:0.5em">
        <thead>
            <tr><td>Day</td><td>Location</td><td>Time</td><td>Type</td></tr>
        </thead>
        <tbody>
            <tr><td rowspan=2>Tuesday</td><td rowspan=2>1443 Denison Street<br>(Denison/<wbr>Birchmount)</td><td>6:30&ndash;7:30pm</td><td>Beginner/<wbr>basic</td></tr>
            <tr><td>7:30&ndash;8:30pm</td><td>Advanced/<wbr>bogu</tr>
            <tr><td>Thursday</td><td>431 Alden Rd, Unit 7<br>(Steeles/<wbr>Warden)</td><td>4:30&ndash;5:30pm</td><td>Children*</td></tr>
            <tr><td rowspan=2>Saturday</td><td rowspan=2>1443 Denison Street<br>(Denison/<wbr>Birchmount)</td><td>10:00&ndash;11:00am</td><td>Beginner/<wbr>basic</td></tr>
            <tr><td>11:00am&ndash;12:00pm</td><td>Advanced/<wbr>bogu</tr>
        </tbody>
    </table>

    <p>*Children and adults are both welcome at all practices, but Thursdays are oriented toward children.</p>

    <p><span class="alert">Two weeks of free trial classes available!</span></p>

    <p><strong>Spots are limited, so please sign up by emailing us at <a href="mailto:renshinkendo@gmail.com">renshinkendo@gmail.com</a> or using our <a href="#contact">contact form</a>.</strong>

    <h3>Location</h3>

    <h4>Thursday</h4>

    <div class="location-row text-center>
        <div class="column">
            <p>Address: <strong>431 Alden Rd, Unit 7, Markham, ON L3R 3L4</strong>. <span class="alertsmall"> Enter through the back door</span>.
        </div>
        <div class="column text-center">
            <div class="map-responsive">
i<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.035335618198!2d-79.33506085864211!3d43.83436527121447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d557b9bce1cf%3A0xc435cd54efb2c886!2sRenshin%20Kendo%20Dojo!5e0!3m2!1sen!2sca!4v1682827044268!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
        </div>

        <h4 style="margin-top:1em">Monday and Saturday</h4>

        <div class="location-row text-center>
            <div class="column">
                <p>Address: <strong>Can Sports Center, 1443 Denison St, Markham, ON L3R 5V2</strong>.
            </div>
            <div class="column text-center">
                <div class="map-responsive">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.0716943504603!2d-79.31796652381365!3d43.833611371094094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d59f9f0cb2f3%3A0xa36378fc7e01da7d!2sCan%20Sports%20Center!5e0!3m2!1sen!2sca!4v1725140936996!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </section>
