<link href="assets/css/location.css" rel="stylesheet" />
<section class = "page-section" id = "location">
<div class="container">
    <h2 class="section-heading text-uppercase text-center">Schedule & Location</h2>

    <h3>Schedule</h3>
    <ul>
        <li>Monday 4:30 PM – 5:30 PM</li>
        <li>Wednesday 4:30 PM – 5:30 PM</li>
        <li>Thursday 4:30 PM – 5:30 PM</li>
    </ul>

    <div class="alert">Free trial classes throughout May 2022!</div>

    <p><strong>Spots are limited, so please sign up by emailing us at <a href="mailto:renshinkendo@gmail.com">renshinkendo@gmail.com</a> or using our <a href="#contact">contact form</a>.</strong>

    <h3>Location</h3>

    <div class="location-row text-center>
        <div class="column">
            <p>Address: <strong>431 Alden Rd, Unit 7, Markham, ON L3R 3L4</strong>. Enter through the back door.
        </div>
        <div class="column text-center">
            <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.035334229934!2d-79.3324913!3d43.834365299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d462d628b949%3A0x7386231513fbe91b!2s431%20Alden%20Rd%20Unit%207%2C%20Markham%2C%20ON%20L3R%203L4%2C%20Canada!5e0!3m2!1sen!2sch!4v1649518854908!5m2!1sen!2sch" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
    </div>
</div>

</section>
