<!-- Team -->
<link href="assets/css/team.css" rel="stylesheet" />

<section class = "page-section" id = "team">
<h2 class="section-heading text-uppercase text-center">Instructor</h2>
<div class="instructor-container">
    <div class="instructor-row">
        <div class="instructor-column">
            <div class="instructor-image">
                <img src="assets/img/team/bill.jpg" title="Bill Kim, instructor" alt="Instructor, Bill Kim, standing in a gymnasium wearing a kendo uniform and bogu (armour) and holding a trophy">
                <p class="text-muted">{{ person.role }}</p>
            </div>
        </div>
        <div class="instructor-column">
            <h2 >Bill Kim</h2>
            <ul>
                <li>Kendo 6 Dan Renshi</li>
                <li>2022 Canadian Junior Nationals - Coach for Team Ontario Junior</li>
                <li>Kendo instructor at University of Toronto Kendo Club</li>
                <li>Registered Early Childhood Educator</li>
            </ul>

            <strong>Main Tournament Results:</strong>
            <ul>
                <li>2020 Inter-university Kendo Tournament Alumni Individual: 1st place</li>
                <li>2019 Garden State Kendo Tournament Team: 1st place</li>
                <li>2019 All Korea Kumdo Championship for social members Individual: 3rd place</li>
                <li>2017 Canadian National Kendo Championship Provincial Team: 1st place</li>
            </ul>
        </div>
    </div>
</div>
</section>
<!-- End Team -->
