section#aboutkendo {
    background-image: url("/assets/img/aboutkendolight2.jpg");
}

.logocontainer {
    margin: 0 auto;
    text-align: center;
}

.logo {
    padding: 5px;
    text-align: center;
}

.logocontainer::after {
    content: "";
    clear: both;
    display: table;
}

.logo img {
    text-align: center;
    height: 75px;
}
