section#location {
    background-image: url("/assets/img/locsched.jpg");
}

.location-row {
    display: table;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    width:100%;
    position:absolute;
    padding-top: 1em;
    padding-bottom: 1em;
}

.alert {
    color: #ce282b;
    font-size: 30px;
    font-weight: bold;
}

.alertsmall {
    color: #ce282b;
    font-weight: bold;
}
