section#team {
    background-color: #040404;
    background-image: url("/assets/img/contact.png");
    color: #ffffff;
}
.instructor-image {
    padding: 1em; 
    text-align: center;
}
.instructor-image img {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    border: 9px solid fade-out($black, 0.9);
}

.instructor-text {
    padding: 1em;
}
