section#team {
    background-color: #040404;
    background-image: url("/assets/img/contact.png");
    color: #ffffff;
}

/* TODO: try a media query here where you don't set width if it's less than a
 * certain amount? */

.instructor-container {
    display: flex;
    justify-content: space-around;
}

.instructor-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.instructor-image img {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    border: 9px solid fade-out($black, 0.9);
}

.instructor-column {
    padding: 1em;
}

@media (min-width: 992px) {
    .instructor-column {
        width: 40%;
    }
}
